<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Queen is Awesome</h1>
    <p>A website for the best band of all time</p>
  </div>
</div>