{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Queen's Discography</h1>
  <p>It's all in the title innit</p>
  <div class="row">
  {% for album in queen.discography %}
  <div class="col-sm-4 mb-3">
    <div class="card">
    <img src="img/discs/{{ album.image }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">{{ album.title }}, released in {{ album.year }}</p>
    </div>
    </div>
  </div>
  {% endfor %}
  </div>
</article>
{% endblock %}