{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Queen is so sick</h1>
      {% for dude in queen.members %}
        <div class="card mb-3">
          <img src="img/members/{{ dude.imagebw }}" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">{{ dude.name }}</h5>
            <a href="queen-members/{{ dude.slug }}.html" class="btn btn-primary">Learn about {{ dude.name }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}