{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Queen is so sick</h1>
      <p>filler text about Queen</p>
    </div>
  </div>
</div>
{% endblock %}