{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %} {{ name }} {% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/members/{{ image }}" class="img-fluid mb-2">
          <p class="caption">{{ name }} was born in {{ birthplace }}, on {{ birthdate }}</p>
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <h5>{{ tenure }}</h5>
          <h6>{{ instruments }}</h6>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
